* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}


.header {
    width: 940px;
    height: 80px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
}

.divonesect {
    display: flex;

}

.sectoneul {
    list-style: none;
    display: flex;
    column-gap: 30px;
    margin-left: 97px;
    color: #1D1F2E;
font-family: Karla;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 18px; /* 150% */
letter-spacing: 2px;
text-transform: uppercase;
}

.sectotruediv {
    display: flex;
    column-gap: 10px;
    margin-left: 50px;
}
.img2png{
    width: 16px;
height: 20px;
flex-shrink: 0;
}

.sectonebut {
    color: #FFF;
    text-align: center;
    font-family: Karla;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    /* 163.636% */
    border-radius: 9px;
    background: #1D1F2E;
    width: 20px;
    height: 18px;
    flex-shrink: 0;
}
.sectiononehr{
    display: flex;
    align-items: center;
    width: 1380px;
height: 530px;
flex-shrink: 0;
background: #050827;
}
.sectiononehrdiv{
    width: 940px;
height: 530px;
flex-shrink: 0;
background-image: url(./img/img3.png);
margin-left: 220px;
margin-right: 220px;
justify-content: center;
display: flex;
}
.sectiononehrbut{
    color: #1D1F2E;
text-align: center;
font-family: Karla;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: 18px; /* 150% */
letter-spacing: 2px;
text-transform: uppercase;
width: 231px;
height: 33px;
flex-shrink: 0;
background: #FFF;
box-shadow: 0px 2px 6px 0px rgba(29, 31, 46, 0.10);
margin-top: 38px;
}
.sectiononehrdivtrue{
    display: inline-flex;
padding-bottom: 0px;
flex-direction: column;
align-items: center;
gap: 10px;
width: 793px;
height: 212px;
margin-top: 159px;
justify-content: center;
}
.ffsdiv{
    display: flex;
width: 793px;
height: 128px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
}
.h3sec1{
    color: #FFF;
    text-align: center;
    font-family: Karla;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 150% */
    letter-spacing: 2px;
    text-transform: uppercase;
}
.h2sec1{
    color: #FFF;
    text-align: center;
    font-family: Karla;
    font-size: 47px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px; /* 127.66% */
}
.para1sec{
    color: #FFF;
    text-align: center;
    font-family: Karla;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 176.471% */
}
.section2{
    display: flex;
width: 940px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 100px;
}
.divtwosect{
    width: 658px;
height: 262px;
margin-top: 120px;
}
.h2sect2{
    color: #1D1F2E;
text-align: center;
font-family: Karla;
font-size: 28px;
font-style: normal;
font-weight: 400;
line-height: 40px; /* 142.857% */
}
.para1sect2{
    color: rgba(29, 31, 46, 0.70);
    text-align: center;
    font-family: Karla;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
    margin-top: 16px;
}
.para2sect2{
    color: #A25F4B;
    text-align: center;
    font-family: Karla;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 186.667% */
    margin-top: 21px;
    display: flex;
    flex-direction: column;
    
}
.para2sect2::after{
content: "";
width: 133px;
height: 2px;
flex-shrink: 0;
background: rgba(162, 95, 75, 0.20);
display: inline-block;
margin: auto;
}
.divfrstsec{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.ponesec{
    color: #1D1F2E;
text-align: center;
font-family: Karla;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 18px; /* 150% */
letter-spacing: 2px;
text-transform: uppercase;
}
.ponesec::after{
    content: "";
    width: 30px;
    height: 1px;
    flex-shrink: 0;
    background: #ECECED;
    display: inline-block;
    margin-bottom: 2.5px; 
    margin-left: 5px;
}
.ponesec::before{
    content: "";
    width: 30px;
    height: 1px;
    flex-shrink: 0;
    background: #ECECED;
    display:inline-block;
    margin-bottom: 2.5px;
    margin-right: 5px; 
    

}
.divfrstsec{
 display: flex;
 justify-content: center;
 align-items: center;
}
.imgclass{
    width: 460px;
height: 540px;
flex-shrink: 0;
margin-top: 100px;
display: flex;
justify-content: center;
align-items: center;
margin-right: 10px;
flex-direction: column;
}
.imgclasstwo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
width: 480px;
height: 657px;
flex-shrink: 0;
margin-top: 100px;
margin-left: 10px;
}
.divimgclass{
    justify-content: center;
    align-items: center;
    display: flex;
}
.pink{
    color: #1D1F2E;
text-align: center;
font-family: Karla;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 150% */
}
.usd{
    color: rgba(29, 31, 46, 0.70);
text-align: center;
font-family: Karla;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 175% */
}
.textpink{
    flex-direction: column;
}